@model IEnumerable<Book>

<!-- bir kitap koleksiyonunu görüntüleyen ve yalnızca mevcut olan kitapları listeleyen bir sayfa oluşturur. -->


<h3>Kitaplar</h3>
<hr>


<div class="row">
    
    @foreach(var book in Model) //kitaplar dizisindeki her bir kitap üzerinde döngü başlatılır. 
    {
        @if(book.IsAvailable == true)   //IsAvaible durumu true olan kitapları listeler 
        {
            <div class="col-md-4 mb-4">
                    <div class="card border-secondary mb-3" style="width: 18rem;">
                        <img src="~/img/@book.Image" class="card-img-top img-thumbnail ">
                        <div class="card-body">
                            <h5 class="card-title">@book.BookName</h5>
                            <p class="card-text">@book.Author</p>
                            <a href="@Url.Action("ShowDetails", "Book", new { id = book.BookId })" class="btn btn-outline-info">Detay Gör</a>     <!-- Kitabın detaylarını görmek için yönlendiren buton. Butona tıklandığında, 
                            kullanıcı Book controller'ındaki ShowDetails aksiyonuna yönlendirilir ve kitapla ilgili detaylı bilgilere ulaşır. 
                            Yönlendirme sırasında, tıklanan kitapla ilişkili BookId parametresi de URL'ye eklenir, böylece doğru kitabın detayları görüntülenebilir. -->                 
                       </div>
                    </div>
            </div>
        }
        
    }
</div>

    
