@model IEnumerable<Book>


<h3>Kitaplar</h3>
<hr>


<div class="row">
    
    @foreach(var book in Model)
    {
        @if(book.IsAvailable == true) 
        {
            <div class="col-md-4 mb-4">
                    <div class="card border-secondary mb-3" style="width: 18rem;">
                        <img src="~/img/@book.Image" class="card-img-top img-thumbnail ">
                        <div class="card-body">
                            <h5 class="card-title">@book.BookName</h5>
                            <p class="card-text">@book.Author</p>
                            <a href="~/Book/ShowDetails" class="card-link">Detay Gör</a>                      
                       </div>
                    </div>
            </div>
        }
        
    }
</div>

    
